node {
  size: 50px;
  text-size: 20;
  fill-color: aquamarine, #254;
  fill-mode: gradient-diagonal1;
}

node.marked {
  fill-color: red, rgb(250, 144, 57);
  fill-mode: gradient-diagonal1;
}
node.dekiru {
  fill-color: green, rgb(153, 233, 78);
  fill-mode: gradient-diagonal1;
}

edge.marked {
  fill-color: red;
  size: 5;
  arrow-size: 7;
}

edge.dekiru {
  fill-color: green;
}

edge {
  size: 1;
  arrow-size: 5;
}
